.nhutcst1{
    position: relative;
    width: 100%;
    height: 100%;
    background: url('https://ak7.picdn.net/shutterstock/videos/19530127/thumb/4.jpg') center center no-repeat;
    background-size: cover;
  }
  .nhutcst1:before{
   
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, rgb(250, 208, 196) 0%, rgb(255, 209, 255) 100%);
        opacity: .6; 
  }

  .nhutcst2{
        padding:30px;
  }
  .nhutcst3{
       background-color:#ffffff7d;

  }
  .nhutbackgroundlogin{
    background: #ffffffb0;
    border-radius: 50px;
    padding:50px;
  }
  .buttonnhutcst3{
      background: linear-gradient(90deg, rgb(234, 11, 0) 0%, rgb(252, 87, 37) 80%);
      color:white !important;
      
  }
  .text-themenew{
        color:#eb5959 !important;
  }
  .hinhanhblog{
    height: 250px;
    width: 100%;
  }
  .font-nav{
      font-family: 'Roboto', sans-serif;
      font-weight:900 !important;
  }
  .border-nhut{
      box-shadow: 0 8px 6px -6px #00000070;
      border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.border-version{
      box-shadow: 0 8px 6px -6px #00000070;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      background-image:linear-gradient(#A1FFCE,#faffd1);
}
.carousel-inner img {
      width: 100%;
      height: 80%;
      border-radius:30px;
  }
section.custom1{
      padding-top:3px;
      padding-bottom:50px;
     
}
section.hinhnen{
      background-image:linear-gradient(#A1FFCE
      ,
      
#faffd1);
padding-top:80px;
padding-bottom:0px !important;
margin-bottom:0px !important;
padding-left:0px !important;
padding-right:0px !important;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}
h4.border{
      background-image:linear-gradient(#d9a7c7
,
#fffcdc);
      border-radius:80px;
      font-family:'Arial',sans-serif;
      color: #FFFFFF;
background: #333333;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
p.nhutnew{
      margin:1px;
}
p.nhutnew:hover{
      color:#FFFFFF;
}

.hinhnenbao{
      background-color: #1a3f1d30;
      border-radius: 20px;
      padding: 20px;
}
marquee.dep{
      margin-top:20px;
      font-weight:normal;
      font-family:'Roboto',sans-serif;
}

/* sangtaosacviet.com - code 1 */
.vi-header {
      border-bottom: solid 1px #0056a8;
  }
  .vi-left-title {
      width: auto;
      background: #0056a8;
      color: #fff;
      padding: 3px 10px;
      font-size: 18px;
      position: relative;
      margin: 0;
  }
  .pull-left {
      float: left;
  }
  .pull-left {
      margin-left: 0 !important;
  }
  .vi-left-title a {
      color: #fff;
  }
  .vi-left-title:after {
      border: 17px solid transparent;
      border-left-color: #0056a8;
      border-bottom-color: #0056a8;
      position: absolute;
      top: 0;
      left: 100%;
      content: "";
  }
  .pull-right {
      float: right;
  }
  .pull-right {
      margin-right: 0 !important;
  }
  .vi-right-link a:first-child {
      margin-left: 0;
  }
  .vi-right-link a {
      color: #555;
      font-size: 14px;
      margin-left: 15px;
  }
  .vi-right-link a.vi-more, .vi-right-link a:hover {
      color: #0056a8;
  }
  .vi-right-link a.vi-more:after {
      content: "\f101";
      font-family: FontAwesome;
      margin-left: 4px;
  }
  
  /* sangtaosacviet.com - code 2 */
  .vi-left-title-1:after {
      border: 17px solid transparent;
      position: absolute;
      top: 0;
      left: 100%;
      content: "";
  }
  .vi-left-title-1 {
      width: auto;
      background: #0056a8;
      color: #fff;
      padding: 3px 10px;
      font-size: 18px;
      position: relative;
      margin: 0;
  }
  .vi-left-title-1 a {
      color: #fff;
  }
  
  /* sangtaosacviet.com - code 3 */
  #stsv-02 h3.tde {    text-align: center;    margin: 45px 0;    font-size: 16px;    line-height: 20px;    text-transform: uppercase;}
  #stsv-02 h3.tde span {    background: #8CC63F;    height: 50px;    line-height: 50px;    padding: 0px 20px;    color: white;    position: relative;    display: inline-block;    margin: 0;    z-index: 45;    border-radius: 10px 10px 0px 0px;    border: 1px solid #8bb54b;}
  #stsv-02 h3.tde :before,#stsv-02 h3.tde :after {    content: "";    background: url(https://sangtaosacviet.com/wp-content/uploads/2017/09/hd-stsv.png);    width: 87px;    height: 50px;    position: absolute;    top: 19px;    z-index: -1;}
  #stsv-02 h3.tde :before {    left: -44px;    }
  #stsv-02 h3.tde :after {    transform: rotateY(180deg);    right: -44px !important;}
  
  
  /* sangtaosacviet.com - code 4 */
  .vi-left-title-2:after {
      border: 17px solid transparent;
        border-left-color: #0056a8;
      position: absolute;
      top: 0;
      left: 100%;
      content: "";
  }
  .vi-left-title-2 {
      width: auto;
      background: #0056a8;
      color: #fff;
      padding: 3px 10px;
      font-size: 18px;
      position: relative;
      margin: 0;
  }
  .vi-left-title-2 a {
      color: #fff;
  }
  
  
  /* sangtaosacviet.com - code 5 */
  
  .box-title-new {    position: relative;    margin: 50px 0; text-align: center;}
  .box-title-new .box-title-name-new {    font-size: 24px;    font-weight: 900;    text-transform: uppercase;    color: #fff; background: #00AA46;    display: inline-block;    vertical-align: top;    position: relative;    z-index: 1;    padding: 10px 20px; marrgin-bottom: 20px; border-radius: 15px;}
  .box-title-new .box-title-name-new:before {    content: "";    position: absolute;    border-top: 10px solid #00aa46;    border-left: 15px solid transparent;    border-bottom: 7px solid transparent;    border-right: 15px solid transparent;   left: calc(50% - 40px);
      bottom: -25px;
      width: 50px;}
  .box-title-new .box-title-name-new:after {    content: "";    position: absolute;    z-index: 2;    bottom: -18px;    height: 9px;    width: 200px;    left: calc(50% - 100px);    border-top: 2px solid #00aa46;}
  
  
  /* sangtaosacviet.com - code new */
  div#nz-div {
      border-bottom: 2px solid red;
      margin-bottom: 40px;
      display: block;
  }
  
  #nz-div h3.tde {
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      display: inline-block;
      text-transform: uppercase;
  }
  
  #nz-div h3.tde :after {
      content: "";
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-left: 20px solid #EA3A3C;
      border-bottom: 0px solid transparent;
      border-right: 0 solid transparent;
      position: absolute;
      top: 0px;
      right: -20px;
  }
  
  #nz-div h3.tde span {
      background: #EA3A3C;
      padding: 10px 20px 8px 20px;
      color: white;
      position: relative;
      display: inline-block;
      margin: 0;
  }
  
  .sub-cat {
      display: inline-block;
      margin: 0;
      line-height: 45px;
      margin-left: 100px;
      float: right;
  }
  
  /* 2  ========================= */
  
  #nz-div-2 h3.tde :after {
      content: "";
      width: 0;
      height: 0;
      border-top: 19px solid transparent;
      border-left: 15px solid #EA3A3C;
      border-bottom: 19px solid transparent;
      border-right: 0 solid transparent;
      position: absolute;
      top: 0px;
      right: -15px;
  }
  
  #nz-div-2 h3.tde span {
      background: #EA3A3C;
      padding: 10px 20px 8px 20px;
      color: white;
      position: relative;
      display: inline-block;
      margin: 0;
  }
  
  #nz-div-2 h3.tde {
      margin: 15px 0;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
  }
  
  #nz-div-2 hr {
      margin: -34px 0px 54px 0px;
      border: 1px solid red;
  }
  
  /* 3  ========================= */
  
  #nz-div-3 h3.tde span {
      background: #EA3A3C;
      padding: 10px 20px 8px 20px;
      color: white;
      position: relative;
      display: inline-block;
      margin: 0;
      border-radius: 23px 23px 0px 0px;
  }
  
  #nz-div-3 h3.tde {
      margin: 15px 0;
      border-bottom: 2px solid #ea3a3c;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
  }
  
  /* 4  ========================= */
  
  #nz-div-4 h3.tde :after {
      content: "";
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-left: 20px solid #EA3A3C;
      border-bottom: 0px solid transparent;
      border-right: 0 solid transparent;
      position: absolute;
      top: 0px;
      right: -20px;
  }
  
  
  #nz-div-4 h3.tde :before {
      content: "";
      width: 0;
      height: 0;
      border-width: 40px 20px 0px 0px;
      border-style: solid;
      border-color: transparent;
      border-right-color: #EA3A3C;
      position: absolute;  
      top: 0px;
      left: -20px;
  }
  
  #nz-div-4 h3.tde span {
      background: linear-gradient(90deg, rgb(234, 11, 0) 0%, rgb(252, 87, 37) 80%);
      padding: 10px 20px 8px 20px;
      color: white;
      position: relative;
      display: inline-block;
      margin: 0;
    
  }
  
  #nz-div-4 h3.tde {
      text-align: center;
      margin-top:1px;
      margin-bottom:15px;
      border-bottom: 2px solid #ea3a3c;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
  }
  
  /* 5  ========================= */
  
  #nz-div-5 {
    text-align: center;
  }
  
  #nz-div-5 h3.tde {
      display: inline-block;
      background: linear-gradient(90deg, rgb(234, 11, 0) 0%, rgb(252, 87, 37) 80%);
      color: white;
      height: 50px;
      line-height: 50px;
      padding: 0 30px;
    width: auto;
  }
    
  #nz-div-5 h3.tde span:before {
      content: '';
      background: url(http://web.ncnncn.com/wp-content/uploads/2017/06/bgh1l.png);
      width: 80px;
      height: 70px;
      z-index: -1; 
  }
  
  /* ======================================= */
  .title-comm {
      color: #fff;
      font-size: 18px;
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 700;
      background-color: #fff;
      text-align: center;
  }
  
  h3.title-comm:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: 0;
      border-top: 2px solid #d0d2d3;
      z-index: 1;
      display: block;
  }
  
  .title-comm .title-holder {
      min-width: 350px;
      height: 45px;
      background-color: #56bbe7;
      height: auto;
      line-height: 45px;
      padding: 0px 20px;
      position: relative;
      z-index: 2;
      text-align: center;
      display: inline-block;
      min-width: 280px;
  }
  
  .title-holder:before {
      content: "";
      position: absolute;
      right: -15px;
      border-width: 0px;
      bottom: 0px;
      border-style: solid;
      border-color: #5c9efe transparent;
      display: block;
      width: 0;
      height: 0;
      border-top: 23px solid transparent;
      border-bottom: 22px solid transparent;
      border-left: 15px solid #56bbe7;
  }
  
  .title-holder:after {
      content: "";
      position: absolute;
      left: -15px;
      border-width: 0px;
      bottom: 0px;
      border-style: solid;
      border-color: #5c9efe transparent;
      display: block;
      width: 0;
      height: 0;
      border-top: 23px solid transparent;
      border-bottom: 22px solid transparent;
      border-right: 15px solid #56bbe7;
  }
  .tieude-v8 {
      background-image: linear-gradient(to right,#b12a5b 0%,#cf556c 10%,#ff8177 20%,#ff867a 30%,#f99185 40%,#ff8c7f 55%,#f99185 69%,#cf556c 85%,#b12a5b 100%);
      background-size: 300% 100%;
      -webkit-animation: lehieuit-color 5s infinite;
      -moz-animation: lehieuit-color 5s infinite;
      -o-animation: lehieuit-color 5s infinite;
      animation: lehieuit-color 5s infinite;
      display: inline-block;
      font-size: 17px;
      color: #fff;
      padding: 12px 30px 9px;
      border-radius: 100px;
      border: 1px solid #fff;
      box-shadow: 3px 5px 5px #ccc;
      margin: 20px 0;
      text-transform: uppercase;
  }

  section.chuongtrinh{
        padding-left:20px;
        padding-right:20px;
  }
  span.giamgia{
    text-decoration: line-through;
    text-align:center;
    font-size:18px;
  }
  span.giakm{
      color:red !important;
      text-align:center;
      font-size:18px;
  }
  .mr{
      margin-left:2px !important;
  }
   span.newnhut {
    background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00d4ff));
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
   
    padding: 2px 6px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.margingia{
    margin-top:10px;
    margin-bottom:10px;
}
.marginblog{
    margin:10px !important;
}
span.newnhut2 {
    background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00d4ff));
    background: linear-gradient(90deg, #00ffae17 0%, #00d4ffe6 100%);
   
    padding: 10px;
    font-size:18px;
    border-radius: 25px;
    color:black;
    font-weight: 400;
    letter-spacing: 0;
    font-family:Arial, Helvetica, sans-serif;
}
a.nextblog{
    color:black;
}
a.nextblog:hover{
    color:#fcfcfc;
    
}
span.newnhut2:hover{
    border:2px solid rgb(81, 255, 81);
    background: linear-gradient(90deg, #8307e9af 0%, #ebb506e6 100%);
    color:#ffffff;
}
section.a{
    padding-top:15px;
    padding-bottom:45px !important;
}
.modal-nhut {
    position: fixed;
    top: 166px;
    left: 0;
    z-index: 2000;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    border-radius:50px !important;
}
span.newnhutmodal{
    background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00d4ff));
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
   
    padding: 2px 6px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    margin-left: 30px;
    font-size:25px !important;
    letter-spacing: 0;
    font-family:Arial, Helvetica, sans-serif;
}
span.newnhutmodal3{
    
    background-color:rgb(38, 142, 247);
   
    padding: 8px;
    border-radius: 15px;
    color: #fff;
   
    margin-left: 15px;
    font-size:110%;
    letter-spacing: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.padding-modal{
    padding-bottom:20px;
}